@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #0f172a;
  /* holocron-base */
  color: #f8fafc;
  /* holocron-text-primary */
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif;
  @apply antialiased;
}